.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
   
}

div{
    margin-top: 2rem;
}

button{
    background-color: #3F5C9A;
    color:white;
    width: 12rem;
    height: 2.3rem;
    border-radius: 10px;
}

#paragraph{
    color:brown;
    font-family: fantasy;
    font-size: 2rem;
    text-shadow: burlywood;
}